<h1>New Order</h1>


<%= form_with scope: :order, url: post_orders_path, local: true do |form| %>
    <%= form.collection_check_boxes :menu_item_ids, @menu_items, :id, :name %>
    <%= form.submit %>
<% end %>

<%= link_to 'Back', post_orders_path %>

