<div class="container">

    <div class="row no-gutters bg-light position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="<%= asset_path('pages/food-mobile-app-3.png') %>" class="w-100 mt-5">
        </div>
        <div class="col-md-6 position-static p-4 pl-md-0">
            <h1 class="mt-0 text-center">Minimum Quantity</h1><br />
            <p class="text-justify">Minimum Quantity, also known as MQ, allows you to connect with like-minded individuals who wants to order food from the same location at the same time, but are not able to meet the minimum spending specified by the restaurants.</p>

            <p>Get 20% discount when the consolidated amount of the orders meets the minimum spending specified by the restaurant you order from! </p>
        </div>
    </div>

    <div class="row no-gutters bg-light position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
            <h1 class="mt-0 text-center">How It Works</h1><br />
            <ol class="text-justify">
                <li>Create a post</li><br />
                <li>Add your order</li><br />
                <li>Wait for your food to be delivered</li><br />
                <li>Pay cash on delivery</li>
            </ol>
        </div>
        <div class="col-md-6 position-static p-4 pl-md-0">
            <img src="<%= asset_path('pages/join-in-order.jpg') %>" class="w-100 mt-5">
        </div>
    </div>

    <div class="row no-gutters bg-light position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="<%= asset_path('pages/food-delivered.jpg') %>" class="w-100 mt-5">
        </div>
        <div class="col-md-6 position-static p-4 pl-md-0">
            <h1 id="faq" class="mt-0 text-center">FAQs</h1>
            <div class="text-justify">
                <p><strong>Where do you deliver?</strong></p>
                <p>- Islandwide</p>
                <p><strong>How can I make my payment?</strong></p>
                <p>- Cash on Delivery</p>
                <p><strong>Can I use this to get other individuals to buy non food products?</strong></p>
                <p>- Not at the moment</p>
            </div>
        </div>
    </div>
</div>